<div class="price <%= isPriceSubmitted ? 'price-submitted' : '' %>">
    <form class="form-inline div price-form">
        <label for="price">Price</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" id="price" class="form-control">
            <span class="input-group-addon">.00</span>
        </div>
        <button id="submit" class="btn btn-primary">Submit</button>
        <span id="error-message" ></span>
    </form>
    <div class="waiting-message">
        Your price has been submitted. Waiting for the other player to submit price.
    </div>
</div>
