html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.network-error {
    display: none;
    opacity: 0.7;
    width: 350px;
    background-color: #F00;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: -75px;
    line-height: 1.7em;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
    left: 50%;
    margin-left: -175px;
}

.container {
    min-width: 768px !important;
}

#main-content {
    margin-bottom: 80px;
    height: 100%;
}

#main-content:after {
    content: '';
    display: block;

}

.footer {
    opacity: .6;
    position: relative;
    bottom: 0;
    background-color: #fff;
    border-top: solid 1px #eee;
    margin: 32px 0 0;
    padding: 1em 0 12px 0;

    img {
        height: 1.7em;
        margin-bottom: 11px;
    }
}

.price {
    .waiting-message {
        display: none;
    }

    .price-form {
        display: block;
    }

    #price {
        text-align: right;
    }

    &.price-submitted {
        .waiting-message {
            display: block;
        }

        .price-form {
            display: none;
        }
    }
}

#error-message {
    padding-left: 10px;
    color: #d9534f;
}

.table {
    font-size: 85%;

    caption {
        padding-bottom: 4px;
        color: #555;
        text-align: left;
        font-size: 120%;
    }

    .center {
        text-align: center;
    }

    .percentage {
        text-align: center;
    }

    .number {
        text-align: right;
    }
}

.charts {

    svg {
        overflow: visible;
    }

    >h5 {
        color: #555;
        font-weight: normal;
    }

    .axis text,
    .contour-legend {
        font-size: 90%;
        font-family: 'Open Sans'
    }

    .contour-legend {
        border: none;
        z-index: 1;
        pointer-events: none;
        padding: 0;
        margin-top: 3px;
    }

    .nw-tooltip {
        z-index: 2;
    }

    .markers .dot {
        stroke: #fff;
        stroke-width: 2px;
    }

    .Player {
        &.s-2 {
            background-color: #EE2E2F;

            rect {
                fill: #EE2E2F;
                stroke: #EE2E2F;
            }

            path {
                stroke: #EE2E2F;
            }

            .dot {
                fill: #EE2E2F;
            }
        }
    }

    path.arc {
        stroke: #fff;
        stroke-width: 2;
        &.s-2 {
            fill: #EE2E2F;
        }
    }

    .correlation-chart {
        .dot {
            fill: #008C48;
            fill-opacity: 0.7;
            stroke: #008C48;
            stroke-width: 1.5;
        }
    }

    .pie-legend {
        fill: #fff;
    }
}

.chat {
    margin-top: 32px;

    small {
        line-height: 2em;
    }

    .messages {
        max-height: 311px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .message {
        margin: 5px 0;
        border-bottom: 1px solid #EEE;
        padding: 5px 0;

        .from {
            color: #999;
            font-size: 80%;
            display: block;
            margin: 0;
            line-height: .8em;
        }

        .message-text {
            color: #444;
        }

    }


    #chat-message {
        width: 100%;
        margin-bottom: 5px;
    }
}

